:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Users/dodog/Documents/GitHub/IFT605-713/OpenHAB/userdata/etc/org.ops4j.pax.logging.cfg"
org.ops4j.pax.logging.log4j2.config.file="C:\\Users\\dodog\\Documents\\GitHub\\IFT605-713\\OpenHAB\\userdata\\etc/log4j2.xml"
service.bundleLocation="?"
service.pid="org.ops4j.pax.logging"
