:org.apache.felix.configadmin.revision:=L"1"
name="configWatcher"
path="C:\\Users\\dodog\\DOCUME~1\\GitHub\\IFT605~1\\OpenHAB\\conf"
service.bundleLocation="?"
service.factoryPid="org.openhab.core.service.WatchService"
service.pid="org.openhab.core.service.WatchService.343a6b20-0e37-4925-b445-5d0c143aedee"
