:org.apache.felix.configadmin.revision:=L"1"
name="configWatcher"
path="C:\\Users\\dodog\\DOCUME~1\\GitHub\\IFT605~1\\OpenHAB\\conf"
service.bundleLocation="?"
service.factoryPid="org.openhab.core.service.WatchService"
service.pid="org.openhab.core.service.WatchService.c9a0424b-76ce-4ef4-8bb1-dcbd332245c9"
