:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.filename="file:/C:/Repo/Devoirs/IFT605/Projet/OpenHAB/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Repo\\Devoirs\\IFT605\\Projet\\OpenHAB\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
