:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Users/dodog/Documents/GitHub/IFT605-713/OpenHAB/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Users\\dodog\\Documents\\GitHub\\IFT605-713\\OpenHAB\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
