:org.apache.felix.configadmin.revision:=L"2"
completionMode="GLOBAL"
disableEofExit="false"
disableLogout="false"
felix.fileinstall.filename="file:/C:/Users/dodog/Documents/GitHub/IFT605-713/OpenHAB/userdata/etc/org.apache.karaf.shell.cfg"
hostKey="C:\\Users\\dodog\\Documents\\GitHub\\IFT605-713\\OpenHAB\\userdata\\etc/host.key"
service.bundleLocation="?"
service.pid="org.apache.karaf.shell"
sftpEnabled="true"
sshHost="127.0.0.1"
sshIdleTimeout="1800000"
sshPort="8101"
sshRealm="karaf"
